<%= form_for(@group_member) do |f| %>
  <% if @group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_member.errors.count, "error") %> prohibited this group_member from being saved:</h2>

      <ul>
      <% @group_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :diner_name, 'Add Diner' %><br>
    <%= f.text_field :diner_name%>
  </div>
  <%= f.hidden_field :group_id %>
  <div class="actions">
    <%= f.submit 'Add' %>
  </div>
<% end %>
