<p id="notice"><%= notice %></p>

<h1>Listing Group Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_members.each do |group_member| %>
      <tr>
        <td><%= group_member.diner_name %></td>
        <td><%= group_member.group_id %></td>
        <td><%= link_to 'Show', group_member %></td>
        <td><%= link_to 'Edit', edit_group_member_path(group_member) %></td>
        <td><%= link_to 'Destroy', group_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group member', new_group_member_path %>
