
<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @group_member.diner_name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_member.group_id %>

</p>

<%= link_to 'Edit', edit_group_member_path(@group_member) %> |
<%= link_to 'Back', group_members_path %>
