  <body id="listing_groups">
  <p id="notice"><%= notice %></p>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#" style="color:#FE642D; font-size: 25px;">OrderOut</a>
        </div>
        <ul class="breadcrumb">
          <li style="float:right; display:inline-block; padding-top:10px;">My Groups</li>
        </ul>
    </div>
    <!-- /.container -->
</nav>

<p id="notice"><%= notice %></p>
<div class="gray_box">
  <div class="index_listing" >
    <h1>Listing Groups</h1>
  </div>

  <div class="gray_box">
    <div>
      <h1 class="index_listing">Listing Groups</h1>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td class="col-sm-2"><%= link_to group.group_name, group %></td>
              <!-- <td class="col-sm-1"><%= link_to 'Show Members', group %></td> -->
              <td class="col-sm-1 "><%= link_to 'Edit', edit_group_path(group) %></td>
              <td class="col-sm-1"><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>



      <br>
      <br>
      <%= link_to 'New Group', new_group_path %>
    </div>
  </div>
</body>
