<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>


<% @group.group_members.each do |group_member| %>
  <% if group_member.diner_name.present? %>
    Diner Name: <%= group_member.diner_name %> |
    <%= link_to 'Add Order', new_order_path %>
    <br>
  <% end %>
<% end %>
<br>
<%= render partial: 'group_members/form' %>
<br>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %> |
