<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.Restaurant %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %> |
XXXXXXX
<br/>
<%= @orders.first %>
<br/>
<%= @orders.first.group_member %>
<br/>
< % = link_to 'Back', '/groups/'+@orders.first.group_member.group.id.to_s %> |
<%= link_to 'Back', groups_path %>
