<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.Restaurant %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @order.Menu_Item %>
</p>

<p>
  <strong>Alterations:</strong>
  <%= @order.Alterations %>
</p>

<div class="row">
  <div class="col-md-4">
    <% if current_user %>
      <p>
        <strong>Rate your meal:</strong>
      </p>
      <%= rating_for @order, "Menu_Item", :disable_after_rate => false, :half_show => false, :space => true, :order_avg => false %>
      <br>
    <% end %>
  </div>
</div>


<br>
<%= facebook_button %>
<br><br>
<%= twitter_button %>
<br>
<br>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
